/* Style de la bannière */
.banner_img {
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(60%);
}

.banner_content h1 {
    font-size: 3rem;
    /* Adjust as needed */
}

.banner_content h2 {
    font-size: 1.5rem;
    font-weight: 300;
}
