.footer {
    background-color: var(--balkeYellow-color);
    font-family: 'Poppins', sans-serif;
}

.footer-title {
    text-transform: uppercase;
    font-weight: bold;
}

.footer-divider {
    width: 0 auto;
    height: 2px;
    background-color: var(--peru-color);
    margin: 0 auto 15px;
}

.footer-link {
    color: #000;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
    color: var(--peru-color);

}

.social-icons a {
    margin-right: 15px;
    color: #000;
}

.footer-bottom {
    background-color: var(--balkeYellow-color);
    color: #000;
}

